<div class="container">
  <div id="canvas-container"></div>
  <div class="operationcontainers">
    <div class="coloroptionbox">
      <div id="heading">Customize and Share</div>
      <h3>Generate your Greets here</h3>

      <fieldset>
        <legend>Enter your Name</legend>
        <input type="text" name="fromname" class="fromfield" maxlength="20">
      </fieldset>

      <fieldset id="chkbox">
        <legend>Select Header Font Color </legend>

        <label for="radio-1" id="default">Default</label>
        <input type="radio" name="color-radio" id="radio-1" value="0" checked="checked">

        <label for="radio-2" id="uniquered">Unique Red</label>
        <input type="radio" name="color-radio" id="radio-2" value="1">

        <label for="radio-3" id="brightblue">Bright Blue</label>
        <input type="radio" name="color-radio" id="radio-3" value="2">

        <label for="radio-4" id="sunnyyellow">Sunny Yellow</label>
        <input type="radio" name="color-radio" id="radio-4" value="3">

      </fieldset>
    </div>
    <div class="messageoptionsbox">
      <fieldset id="chkbox">
        <legend>Select Message</legend>
        <label for="radio-5">
          May the Divine Lights of Diwali Shine Peace, Prosperity, Happiness and Good health in your life.
        </label>
        <input type="radio" name="message-radio" id="radio-5" value="0" checked="checked">

        <label for="radio-6">
          Wishing that this Deepavali brings prosperity to your business and more opportunities for us to work together.
        </label>
        <input type="radio" name="message-radio" id="radio-6" value="1">

        <label for="radio-7">
          May your home be filled with good vibes and intensively positive aura as we celebrate the Diwali festival.
        </label>
        <input type="radio" name="message-radio" id="radio-7" value="2">

        <label for="radio-8">
          Wishing you a very prosperous Diwali, and hoping that we have many successful endeavours in the coming year.
        </label>
        <input type="radio" name="message-radio" id="radio-8" value="3">

        <label for="radio-9">
          May the divine light of Diwali enlighten you on the path of success, wealth and prosperity.
        </label>
        <input type="radio" name="message-radio" id="radio-9" value="4">

      </fieldset>
    </div>
    <div class="iconoptionsbox">
      <fieldset id="chkbox">
        <legend>Select Icon</legend>

        <label for="radio-10">
          <img src="./assets/img/earthlights.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-10" value="0" checked="checked">

        <label for="radio-11">
          <img src="./assets/img/earthlights2.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-11" value="1">

        <label for="radio-12">
          <img src="./assets/img/earthlights3.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-12" value="2">

        <label for="radio-13">
          <img src="./assets/img/lantern.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-13" value="3">

        <label for="radio-14">
          <img src="./assets/img/lantern2.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-14" value="4">

        <label for="radio-15">
          <img src="./assets/img/lotuscandle.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-15" value="5">

        <label for="radio-16">
          <img src="./assets/img/lotuscandle2.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-16" value="6">

        <label for="radio-17">
          <img src="./assets/img/om.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-17" value="7">

        <label for="radio-18">
          <img src="./assets/img/swastika.png" />
        </label>
        <input type="radio" name="icon-radio" id="radio-18" value="8">
      </fieldset>
    </div>
    <div class="shareurlcontainer">
      <input type="text" name="shareurl" class="shareurl">
      <br/>
    </div>
    <div class="createbtnpair">
      <input type="button" class="createbtn" id="btnCreate" Value="Create" />
      <form action="#" id="testshareurl" target="_blank">
        <button class="createbtn" id="btnTest">Test</button>
      </form>
      <div id="sharebuttoncontainer">
        <a href="#" id="whatsappshare">
          <div class="whatsappsharebutton">Share on Whatsapp</div>
        </a>
      </div>
    </div>
  </div>
  <div id="minsalbotbg">
    <img src="./assets/img/1bg.png" />
  </div>
</div>
